body {
    font-family: Arial, sans-serif;
    position: relative;
    background: url("/img/background/background-1.png");
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    margin-bottom: 30px;
    margin-left: 10px;
    text-align: left;
}

.logo img {
    width: 200px;
}

.title {
    color: #222222;
}

.title:after {
    content: "📝";
    display: inline-block;
    font-size: 22px;
    margin-left: 5px;
}

form {
    margin-bottom: 20px;
}

#todo-input {
    width: 70%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-btn {
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    background-color: #38af3c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#add-btn:hover {
    background-color: #2fcc37;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.confirm-todo {
    font-size: 18px;
    color: #4b4b4b;
    margin-bottom: 10px;
}

.delete-todo {
    font-size: 16px;
    color: #777777;
}

footer {
    background-color: #dbdada;
    color: #050505;
    text-align: center;
    font-weight: bold;
    padding: 15px 0;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content a {
    color: #080808;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}